<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Task by Squad Run">
  <meta name="keywords" content="image,compressor,minifier,squadrun,bpo">
  <meta name="author" content="Tarun Garg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SquadRun Image Compressor</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="container">
    <nav>
      <ul class='tab-list'>
        <li class="active" data-content='csv-upload'>
          Upload CSV
        </li>
        <li data-content='image-upload'>
          Upload Images
        </li>
        <li data-content='image-url'>
          Submit Image urls
        </li>
      </ul>
    </nav>
  </div>
  <section class="csv-upload tab-content">
    CSV uplaod form
  </section>
  <section class="image-upload tab-content">
    Image upload form
  </section>
  <section class="image-url tab-content">
    Image URL form
  </section>
</body>
<script src='js/app.js'></script>
</html>
