<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Task by Squad Run">
  <meta name="keywords" content="image,compressor,minifier,squadrun,bpo">
  <meta name="author" content="Tarun Garg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SquadRun Image Compressor</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="container">
    <nav>
      <ul class='tab-list'>
        <li class="active" data-content='csv-upload'>
          Upload CSV
        </li>
        <li data-content='image-upload'>
          Upload Images
        </li>
        <li data-content='image-url'>
          Submit Image urls
        </li>
      </ul>
    </nav>
    <section class="csv-upload tab-content file-upload">
      <div class="description">
        Hi user, in this tab you can upload a valid CSV file here, that csv file would contain the list of image urls pointing to ONLY images. To look out for other options please check the tab options above.
      </div><br>
      <input type="file" name="csv" id="csv" class="inputFile csv" />
      <label for="csv">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
        <span>&nbsp; Choose a CSV file&hellip;</span>
      </label>
    </section>
    <section class="image-upload tab-content file-upload">
      <div class="description">
        Hi user, in this tabe you can upload multiple physical image files present in your disk, those files would be compressed then by us . To look out for other options please check the tab options above.
      </div>
      <br>
      <input type="file" name="img" id="img" class="inputFile img" data-multiple-caption="{count} files selected" multiple/>

      <label for="img">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
        <span>&nbsp; Choose images&hellip;</span></label>
      </label>
    </section>
    <section class="image-url tab-content">
      Image URL form
    </section>
  </div>
</body>
<script src='js/app.js'></script>
</html>
