body , :after, :before {
  font-family: Arial;
  box-sizing: border-box;
  background: rgba(138, 43, 226, 1);
  /* http://szafranek.net/works/articles/font-smoothing-explained/ */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  position: relative;

}
 
/*
  Tabs styling start
 */
nav ul {
  list-style: none;
  font-weight: bold;
  text-align: center;
}
nav .tab-list li {
  padding: 1px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  line-height: 40px;
  margin: 0;
  width: 30%;
  display: inline-block;
}

.active {
  border-bottom: 5px solid rgba(255, 255, 255, 1);
}

nav .tab-list li:active{
  padding: 0px;
  border: 1px solid white;
}

/*
  tab content styling start
 */

.tab-content {
  transform: translateX(-100vw);
  position: absolute;
}
.show {
  transform: translateX(0);
}

